footer {
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: var(--celeste);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.text-footer p {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
}

.footer-mail {
    color: white;
}

.icon-redes fa-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 15px;
}

.logo-mensaje {
    position: relative;
    margin-top: -100px;
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}