<footer class="mt-5 footer">
    <div class="row">
        <div class="col-md-12">
            <div>
                <img src="assets/img/logo/logo_mensaje.png" class="img-fluid mx-auto d-block logo-mensaje">
            </div>
            <div class="row">
                <div class="col-md-3 text-center text-footer mb-3">
                    <img src="assets/img/logo/logo_footer.png" class="img-fluid mx-auto d-block" width="60">
                    <p>© 2019 Fundación Stuka</p>
                </div>
                <div class="col-md-6 text-center text-footer mb-4">
                    <p>Puedes escribirnos a
                        <span style="text-decoration: underline;">
                        <a class="footer-mail" href="mailto:contacto@fundacionstuka.cl">contacto@fundacionstuka.cl</a>
                    </span>
                    </p>
                    <p>Somos una fundación <strong>solo de perros</strong> Ubicados en Casablanca y Santiago.</p>
                </div>
                <div class="col-md-3 text-center mb-3 icon-redes">
                    <!-- <i class="fab fa-facebook-square icon-redes"></i>
                    <i class="fab fa-instagram icon-redes"></i> -->
                    <a href="https://www.facebook.com/" target="_blank">
                        <fa-icon [icon]="faFacebookF"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="https://www.youtube.com/" target="_blank">
                        <fa-icon [icon]="faYoutube"></fa-icon>
                    </a>
                    <!--  <i class="fab fa-youtube icon-redes"></i> -->
                </div>
            </div>
        </div>
    </div>
</footer>