<div class="title-dialog position-relative">
    <h1 mat-dialog-title>Ingresar</h1>
    <button class="close-icon" (click)="closeDiolog()" mat-icon-button color="accent" aria-label="Example icon button with a home icon">
        <mat-icon  aria-hidden="false" aria-label="Example close icon">
            close
        </mat-icon>
    </button>
</div>

<div mat-dialog-content>

    <div class="img-login mb-2">
        <img src="assets/img/logo/logo.svg" alt="stuka">
    </div>

    <form [formGroup]='forma' (ngSubmit)='login()'>

        <mat-form-field appearance="legacy">
            <mat-label>Correo</mat-label>
            <input formControlName='email' matInput placeholder="ejemplo@ejemplo.com">
            <mat-hint>Introduzca un correo</mat-hint>
            <mat-error *ngIf='forma.get("email").invalid'>
                Introduzca un correo Valido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Contraseña</mat-label>
            <input formControlName='password' matInput [type]="hidePassword ? 'password' : 'text'">
            <button class="hide-password" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Debes introducir una contraseña</mat-hint>
            <mat-error>
                La contraseña es <strong>requerida</strong>
            </mat-error>
        </mat-form-field>

        <button class="btn-block mt-2 login-btn" type="submit" mat-raised-button>
            <span *ngIf='!loading'>
                Ingresar
            </span>
            <div *ngIf='!!loading'>
                <fa-icon [icon]="faSyncAlt" [spin]="true"  [pulse]="true"></fa-icon>
                Ingresando...
            </div>
        </button>

    </form>

    <hr>
    <button class="btn-block mt-1 google-btn" type="button" mat-raised-button>
        <img src="assets/img/icons/google-logo.svg" alt="google" width="20">
        Google
    </button>

</div>