<div class="carousel-main">

    <!-- lg -->
    <owl-carousel-o [options]="customOptions" class="show-banner-lg">

        <ng-container class="d-none d-lg-block">
            <ng-template carouselSlide id="1">
                <img src="assets/img/banners-main/banner.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
        <ng-container class="d-none d-lg-block">
            <ng-template carouselSlide id="2">
                <img src="assets/img/banners-main/banner.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
        <ng-container class="d-none d-lg-block">
            <ng-template carouselSlide id="3">
                <img src="assets/img/banners-main/banner.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>

    </owl-carousel-o>

    <!-- Medium screem -->
    <owl-carousel-o [options]="customOptions" class="show-banner-md">
        <ng-container class="d-none d-md-block d-lg-none">
            <ng-template carouselSlide id="4">
                <img src="assets/img/banners-main/banner-tablet.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
        <ng-container class="d-none d-md-block d-lg-none">
            <ng-template carouselSlide id="5">
                <img src="assets/img/banners-main/banner-tablet.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
        <ng-container class="d-none d-md-block d-lg-none">
            <ng-template carouselSlide id="6">
                <img src="assets/img/banners-main/banner-tablet.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
    </owl-carousel-o>

    <!-- Small screem -->
    <owl-carousel-o [options]="customOptions" class="show-banner-sm">
        <ng-container class="d-none d-sm-block d-md-none">
            <ng-template carouselSlide id="7">
                <img src="assets/img/banners-main/banner-movil.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
        <ng-container class="d-none d-sm-block d-md-none">
            <ng-template carouselSlide id="8">
                <img src="assets/img/banners-main/banner-movil.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
        <ng-container class="d-none d-sm-block d-md-none">
            <ng-template carouselSlide id="9">
                <img src="assets/img/banners-main/banner-movil.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
    </owl-carousel-o>

</div>