<!-- Inicio carousel banners -->
<div class="carousel-main">

    <!-- lg -->
    <owl-carousel-o [options]="customOptions">

        <ng-container class="d-none d-lg-block">
            <ng-template carouselSlide id="1">
                <div class="carousel-parraf">
                    <div class="row">
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <p>Porque el mejor amigo del hombre merece una voz</p>
                            <button class="carousel-btn" mat-raised-button>Adoptar</button>
                        </div>
                    </div>
                </div>
                <img class="show-banner-lg" src="assets/img/banners-main/banner.png" alt="Perro" title="Perro">

                <img class="show-banner-md" src="assets/img/banners-main/banner-tablet.png" alt="Perro" title="Perro">

                <img class="show-banner-sm" src="assets/img/banners-main/banner-movil.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
        <ng-container class="d-none d-lg-block">
            <ng-template carouselSlide id="2">

                <div class="carousel-parraf">
                    <div class="row">
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <p>Porque el mejor amigo del hombre merece una voz</p>
                            <button class="carousel-btn" mat-raised-button>Adoptar</button>
                        </div>
                    </div>
                </div>

                <img class="show-banner-lg" src="assets/img/banners-main/banner.png" alt="Perro" title="Perro">

                <img class="show-banner-md" src="assets/img/banners-main/banner-tablet.png" alt="Perro" title="Perro">

                <img class="show-banner-sm" src="assets/img/banners-main/banner-movil.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>
        <ng-container class="d-none d-lg-block">
            <ng-template carouselSlide id="3">

                <div class="carousel-parraf">
                    <div class="row">
                        <div class="col-lg-7 col-md-9 col-sm-8">
                            <p>Porque el mejor amigo del hombre merece una voz</p>
                            <button class="carousel-btn" mat-raised-button>Adoptar</button>
                        </div>
                    </div>
                </div>

                <img class="show-banner-lg" src="assets/img/banners-main/banner.png" alt="Perro" title="Perro">

                <img class="show-banner-md" src="assets/img/banners-main/banner-tablet.png" alt="Perro" title="Perro">

                <img class="show-banner-sm" src="assets/img/banners-main/banner-movil.png" alt="Perro" title="Perro">
            </ng-template>
        </ng-container>

    </owl-carousel-o>

</div>

<!-- Fin carousel banners -->

<!-- Inicio seccion como ayudar -->

<section class="seccion p-botton como-ayudar">
    <div class="container-fluid-index">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center title">¿Cómo ayudar a Fundación Stuka?</h1>
            </div>
        </div>
        <div class="row mt-5 row-2-como-ayudar">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="button-container">
                    <img src="assets/img/adoptar.png" class="img-fluid" alt="adoptar">

                    <button mat-stroked-button>Adoptar</button>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="button-container">
                    <img src="assets/img/dona.png" class="img-fluid" alt="adoptar">

                    <button mat-stroked-button>Donar</button>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="button-container">
                    <img src="assets/img/apadrina.png" class="img-fluid" alt="adoptar">

                    <button mat-stroked-button>Apadrinar</button>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="button-container">
                    <img src="assets/img/voluntariado.png" class="img-fluid" alt="adoptar">

                    <button mat-stroked-button>Voluntariado</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Fin seccion como ayudar -->

<!-- Inicio Como hemos ayudado -->

<section class="fondo-home">
    <div class="container-fluid-index pb-5">
        <div class="row mb-5">
            <div class="col-sm-12 p-t">
                <h2 class="text-center title">¿Cómo hemos ayudado?</h2>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-center m-t-15">
                <img src="assets/img/refugio.svg" class="img-fluid" alt="refugio">
                <br>
                <br>
                <h2>120</h2>
                <p class="font-weight-bold parrafo-rosa">Perros en el Refugio</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-center m-t-15">
                <img src="assets/img/adopcion-amor.svg" class="img-fluid" alt="adoptar-amor">
                <br>
                <br>
                <h2>100</h2>
                <p class="font-weight-bold parrafo-rosa">Adopciones el año pasado</p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center d-none d-md-block">
                <img src="assets/img/home-dog.png" class="img-fluid" alt="imagen-perro">
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-center m-t-15">
                <img src="assets/img/vacunas.svg" class="img-fluid" alt="esterilización">
                <br>
                <br>
                <h2>100</h2>
                <p class="font-weight-bold parrafo-rosa">Esterilizados y vacunados</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 text-center m-t-15">
                <img src="assets/img/amor.svg" class="img-fluid" alt="amor">
                <br>
                <br>
                <h2 class="font-weight-bolder">∞</h2>
                <p class="font-weight-bold parrafo-rosa">Entrega de amor</p>
            </div>
        </div>
    </div>
</section>

<!-- Fin seccion como hemos ayudar -->

<!-- Inicio seccion  nuestros partners-->

<section class="seccion p-botton partners">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
                <h2 class="text-center title">Nuestros Partners</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2 col-sm-12 text-center mb-3">
                <a href="https://www.purina-latam.com/cl" target="_blank">
                    <img src="assets/img/partners/purina.png" alt="logo purina">
                </a>
            </div>
            <div class="col-md-2 col-sm-12 text-center mb-3">
                <a href="http://www.subaru.cl/" target="_blank">
                    <img src="assets/img/partners/subaru.png" alt="logo subaru">
                </a>
            </div>
            <div class="col-md-2 col-sm-12 text-center mb-3">
                <a href="https://www.clubdeperrosygatos.cl/" target="_blank">
                    <img src="assets/img/partners/club-perrosygatos.jpg" alt="logo clubvperros y gatos">
                </a>
            </div>
            <div class="col-md-2 col-sm-12 text-center mb-3">
                <a href="http://www.centrovet.com" target="_blank">
                    <img src="assets/img/partners/centro-vet.jpg" alt="logo centro centro vet">
                </a>
            </div>
            <div class="col-md-2 col-sm-12 text-center mb-3">
                <a href="http://www.chemiesa.com/" target="_blank">
                    <img src="assets/img/partners/chemie.jpg" alt="logo chemiesa">
                </a>
            </div>
            <div class="col-md-2 col-sm-12 text-center mb-3">
                <a href="http://www.icardi.cl/" target="_blank">
                    <img src="assets/img/partners/icardi.jpg" alt="logo icardi">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Fin seccion  nuestros partners-->