.top{
    margin-top: 0px;
    padding: 0;
}
.p-botton{
    padding-bottom: inherit;
}
.pa-0{
    padding: 0;
}
.m-t{
    margin-top: 50px;
}
.m-t-15{
    margin-top: 25px;
}
.button-container{
    position: relative;
    display: inline-block;
    text-align: center;
}
.button-container a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-transparente{
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 24px;
    padding: 10px 30px;
}
.fondo-home {
    background: blue;
    background-image: url(../img/fondo-huesos.png);
    padding-bottom: 55px;
}
.fondo-home2{
    background: blue;
    background-image: url(../img/fondo-huesos.png);
}
.p-botton-100{
    padding-bottom: 100px;
}
.eapps-instagram-feed-title{
    display: none !important;
}
.p-b{
    padding-bottom: 30px;
}
.p-menu{
    padding: 0 15px;
}
.img-menu{
    vertical-align: baseline;
    padding-right: 10px;
}
.text-normal{
    font-weight: normal !important;
}
@media only screen and (max-width: 991px) and (min-width: 768px){
    .btn-transparente{
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 24px;
        padding: 8px 15px;
    }
    .mostrar-img{
        display: inline-block!important;
    }
}
@media (min-width: 576px){
    
}