*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
}

nav{
    padding: 0;
}

.btn-donar{
    padding: 28px 0;
    background: #de5c8e;
}

.btn-donar:hover{
    background: #d15182;
}

h5 a{
    color: #fff;
}

h5 a:hover{
    color: #fff;
    text-decoration: none;
}

.logotipo{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary{
    background: #de5c8e;
    color: #fff;
    border-radius: 30px;
    border-color: #de5c8e;
    padding: 20px;
    font-weight: 500;
}

.btn-primary:hover{
    background: #d15182;
    border-color: #d15182;
}

.nav-link{
    color: #009cc9!important;
    font-weight: bolder;
    padding-top: 10px !important;
}

.donar-small{
    color: #de5c8e!important;
    font-weight: 600!important;
}