/* You can add global styles to this file, and also import other style files */


/* Font */

@font-face {
    font-family: 'vagRounded-bt';
    src: url('assets/font/VAGRounded_BT.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --rosado: #d02671;
    --rosadoHover: #d15182;
    --celeste: #1aa3db;
    --celesteHover: #11a1dae5;
    --gris: #707070;
}


/* Inicio carousel btn */

.carousel-main .owl-dots {
    right: 0px;
    transform: rotate(90deg);
    position: absolute !important;
    top: 35%;
}

.carousel-main .owl-dots .owl-dot span {
    background-color: #d02671 !important;
    width: 18px;
    height: 18px;
}

.carousel-main .owl-dots .owl-dot.active span {
    background-color: #11a1dae5 !important;
}


/* Fin carousel btn */