.texto-filtro {
    text-align: center;
    color: white;
    padding-top: 30px;
}

.texto-filtro h1 {
    font-size: 40px;
}

.texto-filtro p {
    font-size: 25px;
    margin-bottom: 0px;
}

.select-input {
    min-width: 200px;
}

.buscar-form .form-row {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
}

.buscar-form {
    padding-bottom: 30px;
}

.buscar-form button {
    height: 38px;
    border-radius: 24px;
    margin-bottom: 1rem;
}

.section-filter .texto-filtro {
    margin-bottom: 30px;
}

.section-filter .hr {
    border-top: 8px solid #DE5C8E;
    margin: 0 auto
}