.apadrinar {
    margin-bottom: 150px;
}

h1 {
    color: var(--gris);
    font-size: 40px;
    margin-bottom: 0px;
}

h2 {
    color: var(--gris);
    margin-bottom: 0px;
}

.hr {
    border-top: 8px solid var(--rosado);
    width: 100px;
    margin-top: 8px;
}

.hr2 {
    border-top: 8px solid var(--celeste);
    width: 100px;
    margin-top: 8px;
}

.parrafo {
    font-size: 17px;
    color: var(--gris);
}

.fondo-seccion {
    background: grey;
    background-image: url('/assets/img/fondo-huesos.png');
}

.contenedor-card {
    padding-top: 90px;
    padding-bottom: 90px;
}

.card-info {
    padding: 16px;
    padding-top: 55px;
    min-height: 90px;
    margin-top: -35px;
}

.icon-card {
    margin-top: 30px;
    width: 90px;
    height: 90px;
    position: relative;
}

h4,
p {
    color: var(--gris);
}


/* .responsabilidad-social {
    padding-top: 25px;
} */

.mobile-responsabilidad-s {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media only screen and (min-width: 601px) {
    .row .col-md-6 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .texto-apadrinar {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 600px) {
    .apadrinar {
        margin-bottom: 70px;
    }
    .responsabilidad-social {
        padding-top: 60px;
    }
    .img-quienes-somos {
        margin-bottom: 50px;
    }
    .mobile .img-quienes-somos {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 50px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .mobile .img-quienes-somos img {
        padding-right: 15px;
        padding-left: 15px;
    }
}