<header>
    <div class='header'>
        <nav class="navbar navbar-expand-lg navbar-light p-0 px-lg-5">
            <a class="navbar-brand">
                <img class="img-logo" src="assets/img/logo/logo.svg" alt="STUKA">
            </a>
            <button class="navbar-toggler mx-1" mat-flat-button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex flex-column ml-auto menu-centro justify-content-end">

                    <ul class="navbar-nav ml-lg-auto d-none">
                        <li class="nav-item">
                            <button mat-raised-button>
                            <a>Adoptar</a>
                        </button>
                        </li>
                        <li class="nav-item">
                            <button mat-raised-button>
                            <a>Apadrinar</a>
                        </button>
                        </li>
                        <li class="nav-item">
                            <button mat-raised-button>
                            <a>Ser voluntario</a>
                        </button>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-lg-auto menu-lg-dinamic">
                        <li class="nav-item">
                            <button mat-flat-button>
                                <img class='mobile-menu-icon' src="assets/img/icons/dog-house.svg" alt="dog-house">
                                <a>Inicio</a>
                        </button>
                        </li>
                        <li class="nav-item">
                            <button mat-flat-button>
                                <img class='mobile-menu-icon' src="assets/img/icons/paw-print.svg" alt="Dog-house">
                                <a>Quiénes somos</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button mat-flat-button>
                                <img class='mobile-menu-icon' src="assets/img/icons/news.svg" alt="Noticias">
                                <a>Noticias</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button mat-flat-button>
                                <img class='mobile-menu-icon' src="assets/img/icons/dog-house.svg" alt="dog-house">
                                <a>Galería</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button mat-flat-button>
                                <img class='mobile-menu-icon' src="assets/img/icons/dog-house.svg" alt="dog-house">
                            <a>Contáctanos</a>
                            </button>
                        </li>
                    </ul>
                    <ul class="navbar-nav menu-lg-dinamic d-lg-none d-xl-none">
                        <li class="nav-item">
                            <button mat-flat-button>
                                <img class='mobile-menu-icon' src="assets/img/icons/paw-print.svg" alt="Adopat">
                                <a>Adoptar</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button mat-flat-button>
                                <img class='mobile-menu-icon' src="assets/img/icons/dog-house.svg" alt="dog-house">
                                <a>Apadrinar</a>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button mat-flat-button>
                                <img class='mobile-menu-icon' src="assets/img/icons/dog-house.svg" alt="dog-house">
                                <a>Ser voluntario</a>
                            </button>
                        </li>
                    </ul>

                </div>
                <ul class="link-donacion">
                    <li>
                        <button mat-button>
                        <mat-icon class="heart-icon" aria-hidden="false" aria-label="Example favorite_border icon">
                            favorite_border
                        </mat-icon>
                        <img class='mobile-menu-icon' src="assets/img/icons/dog-house.svg" alt="dog-house">
                        <a>Haz una donación</a>
                    </button>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</header>