:root {
    --rosado: #d02671;
    --rosadoHover: #d15182;
    --celeste: #1aa3db;
    --celesteHover: #11a1dae5;
    --gris: #707070;
    --negro:#252828;
}

nav{
    padding: 0;
}
.logotipo{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-menu{
    color:var(--negro) !important;
    font-weight: bold;
    padding: 18px 15px 14px 15px !important;
}
.active-link{
    border-bottom: 5px solid var(--celeste);
}
.active-link-xs a{
    color: var(--negro);
    font-weight: bold;
    vertical-align: text-bottom;
}
.active-link-donar{
    font-weight: bold;
}
.margin-right{
    margin-right: 30px;
}
.btn-menu a{
    font-size: 14px !important;
}
.boton-donar{
    background: var(--rosado);
    padding: 13px 28px;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.boton-donar:focus{
    outline: none !important;
}
.boton-donar:active{
    background-color: var(--rosadoHover) !important;
}
/* menu responsive*/
.img-movil{
    margin-left: 15px !important;
}
.border-none :active{
    border: none !important;
}
.border-none :focus{
    border: none !important;
}
.img-menu{
    width: 24px;
}
.text-fff{
    color: white;
}
.categoria{
    vertical-align: middle !important;
}
.m-r{
    margin-right: 15px;
}
.btn-donar {
    padding: 12px 28px;
    background: var(--rosado);
    border-radius: 25px;
    width: max-content;
    margin-bottom: 33px;
    margin-top: 20px;
}
.categoria{
    outline-style: none !important;
}
@media only screen and (max-width: 600px) {
    .btn-menu:focus{
        border-bottom: none;
    }
}